# Docker data directories
/portainer-data/
/vaultwarden-data/
/filebrowser-db/
/filebrowser-config/
/grafana/
/immich/
/immich-data/
/personal-site/
/postgres/
/site/
/files/

# Cloudflared creds
*.json

# Environment files
.env

# Node_modules, logs, OS files
node_modules/
*.log
.DS_Store
